.secciones__gridCards__card:not(:nth-child(-n+4)) { /*Las dos últimas Cards se muestran*/
    display: block;
}

.main__secciones__head {
    display: flex;
    align-items: center;
}

.form__inputContainer {
    display: flex;
    justify-content: center;
    width: 130px;    
}

.btnAgregarProducto {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: .8rem;
}

/* Diseño para tabletas y laptops   --and (max-width: 1024px) */
@media screen and (min-width: 600px) {
    .form__inputContainer {
        width: 230px;    
    }

    .btnAgregarProducto {
        font-size: 1.3rem;
    }
}